body {
  font-family: Arial, sans-serif;
}

form {
  margin-bottom: 20px;
  color: ;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  padding: 10px 20px;
  background-color: rgb(96, 114, 116);
}

fieldset {
  border-radius: 20px;
  border-width: 10px;
}

#result {
  font-weight: bold;
}

.form {
  background-color: #f3d7ca;
}

.header {
  text-align: center;
}

#DiscountCheck {
  padding-top: 10px;
}

.legend {
  padding-bottom: 20px;
}
